
.BoardDownMobile {
  margin-top: 19vh;
  float: right;
 
}

.BoardDownMobile a {
  transform: rotate(-90deg);
  margin-right: 2px;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding: 15px;
  color: #fff;
  display: block;
  text-decoration: none;
}